# 本地开发专用 Docker Compose
# 使用方式：
#   本地开发启动： docker compose up
#   进入容器终端： docker exec -it paperplane-web-console-local bash

# 注意：Windows 的目录挂载性能很差，修改文件后无法触发重新编译，请使用 wsl

services:
  paperplane-web-console-local:
    image: paperplanecc/baseline-node20-puppeteer:2025.11.30
    container_name: paperplane-web-console-local
    working_dir: /paperplane-web-console
    init: true
    cap_add:
      - SYS_ADMIN
    volumes:
      - ./:/paperplane-web-console:cached
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - '6100:6100'
      - '6200:6200'
    extra_hosts:
      - host.docker.internal:host-gateway
    command: pnpm bootstrap
