@use 'tdesign-react/dist/reset.css' as *;
@use 'tdesign-react/es/style/index.css' as *;
@use 'atropos/scss' as *;

@use '@/styles/tailwind.css' as *;
@use '@/styles/theme.scss' as *;

@use './fonts/source-code-pro/index.scss' as *;
@use './fonts/fz-yansong/index.scss' as *;
@use './fonts/swift/index.scss' as *;

body {
  overflow-y: scroll;
}

.t-notification__show--top-right {
  padding-top: 50px;
}

.pa-vc {
  display: flex;
  align-items: center;
}

.pa-text {
  color: var(--td-font-gray-1);
  font: var(--td-font-link-large);
}

.pa-fff {
  color: #fff;
}
