@font-face {
  font-family: 'swift';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('@/styles/fonts/swift/swift-400.woff2') format('woff2'),
    url('@/styles/fonts/swift/swift-400.woff') format('woff'),
    url('@/styles/fonts/swift/swift-400.eot') format('embedded-opentype'),
    url('@/styles/fonts/swift/swift-400.ttf') format('truetype');
}
