.header__headerbar {
  position: relative;
  flex-wrap: wrap;
  height: 120px;
  margin: 0 auto;
  border-radius: 6px;
  display: flow-root;
  text-align: center;
  color: #fff;
  user-select: none;
  background: #d46d72;
  background-image: linear-gradient(90deg, #963db3, #bf3caf, #e3419e, #fe4b83, #ff5e64, #ff7747);

  /* 顶部三角条 */
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    height: 10px;
    clip-path: polygon(50px 0, 40px 100%, 60px 100%);
    background: #d46d72;
    background-image: linear-gradient(90deg, #963db3, #bf3caf, #e3419e, #fe4b83, #ff5e64, #ff7747);
  }
}
